/* .example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
} */

.signin-card {
  max-width: 400px;
  min-height: 80%;
}

.signin-full-width {
  width: 100%;
}

.sign-bottom-card{
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 8px;
}
