<!-- <p>
  theme works!
</p>

<br>
<br>
<span>{{route1.id}}</span>
<br>
<span>{{route1.idTheme}}</span>
<br> -->
<div fxLayoutAlign="center start" >
  <div style="width: 100%; color:gray; font-size: 80%; display: block; padding: 0px 20px;">
    <h1 [innerHTML]='theme.name'></h1>
    <mat-divider></mat-divider>
  </div>

</div>

<div fxLayoutAlign="center start" *ngIf="!isloading">
  <div *ngIf="!theme.posts || (theme.posts && theme.posts.length === 0)">
    <h3 style='color:dimgray'>No hay publicaciones para mostrar...</h3>
    <h2>¡Sé el primero en Publicar!</h2>
    <!-- <div fxLayoutAlign="center start">
      <button mat-raised-button color="primary" (click)='null'>Hacer Publicacion</button>
    </div> -->
  </div>

  <mat-list *ngIf="theme.posts">
    <mat-list-item style="width: 100%; height: auto;" *ngFor="let post of theme.posts">
      <au-post [id]="post" style="width: 100%;"></au-post>
    </mat-list-item>
  </mat-list>
</div>

<!-- 0704f066643fd35c583e309b15a44043
  0971d5c4e07696edc27218d7ed12493e
229b46fbca4054a246b4a37c560d36d8
25e75509aad6ef4e37f397f4a9d2419c
2bd9471112b806a17afa06b11d0f6950 -->
