<mat-drawer-container autosize>
<mat-drawer #drawer class="example-sidenav" mode="side">
<div [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
  <mat-toolbar color="primary">

  	<mat-toolbar-row>
    <button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>

    <span><h1 class="example-app-name">{{title}}</h1></span>

    <div class="container">


    <div class="menu-navbar" fxLayout="row" fxLayoutAlign="center center">
          

                <button mat-button *ngIf="!isLogin" routerLink="/signin">
                  <mat-icon>account_circle</mat-icon> Login  
                </button>
          
                <button mat-button *ngIf="!isLogin" routerLink="/signup">
                    <mat-icon>input</mat-icon> Registrarse
                </button>

                <button mat-icon-button matTooltip="Logout" *ngIf="isLogin" (click)="onClickLogout()">
                    <mat-icon>exit_to_app</mat-icon>
                </button>

                <button mat-button *ngIf="isLogin" matTooltip="{{username}}">
                    <img src="{{fotoUsuario}}" class="avatar">
                </button>

                	<mat-chip-list *ngIf="isLogin">
                    	<mat-chip class="email" color="accent" selected="true">{{email}}</mat-chip>
                	</mat-chip-list>
          

     </div>
 </div>
</mat-toolbar-row>

  </mat-toolbar>

  
  
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </div>



</div>
</mat-drawer>
</mat-drawer-container>