<!-- <div class="course-buttons" fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="center start">
  <div>
    <button mat-raised-button color="primary">Unirse a un curso</button>
  </div>
  <div>
    <button mat-raised-button color="accent">Crear un curso</button>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)='openNewPostDialog()'>Hacer Publicacion</button>
  </div>
</div> -->
<div fxLayout="column" fxLayoutAlign="start center">
  <div style="width: 100%; color:gray; font-size: 80%; display: block; padding: 0px 20px;">
    <h1>Plataforma Aula</h1>
    <mat-divider></mat-divider>
  </div>
  <div style="width:200px; padding: 10px;">
    <button mat-raised-button color="primary" style="width: 100%;" (click)='null'>Unirse a un curso</button>
  </div>
  <div style="width:200px; padding: 10px;">
    <button mat-raised-button color="primary" style="width: 100%;" (click)='openDialogCourse()'>Crear curso</button>
  </div>
</div>

<!-- <div fxLayoutAlign="center start">
  <mat-list>
    <mat-list-item style="width: 100%; height: auto;" *ngFor="let post of ListPost">
      <au-post [id]="post.id" style="width: 100%;"></au-post>
    </mat-list-item>
  </mat-list>
</div> -->

<div class="floating-button" fxLayoutAlign="end end">
  <button mat-fab color="accent" matTooltip="{{add}}" (click)="openDialogCourse()">
    <mat-icon>add</mat-icon>
  </button>
</div>
